<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Google Search Suite"  parallel="false" thread-count="2">

    <test name="Firefox browser tests"  >
        <parameter name = "browser" value="FIREFOX_MAX"/>
        <classes>
            <class name="com.java.testng.tests.GoogleBasicSearchTest" />
        </classes>
    </test>

    <test name="Chrome headless tests" >
        <parameter name = "browser" value="CHROME_HEADLESS"/>
        <classes>
            <class name="com.java.testng.tests.GoogleBasicSearchTest" />
        </classes>
    </test>

    <test name="Mobile 360x640 tests"  >
        <parameter name = "browser" value="MOBILE360x640"/>
        <classes>
            <class name="com.java.testng.tests.GoogleBasicSearchTest" />
        </classes>
    </test>
</suite>